body {
	background: #de6161; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #de6161, #2657eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #de6161, #2657eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
	padding: 0;
}

header {
background-color:rgba(255, 255, 255, 0.5);
	padding: 1em 1em 1em 1em;
	font-weight: normal;
	color: black;
	font-family: 'Lobster', cursive;
}

header div.head {
	overflow: hidden;
	margin-bottom: .5em;
}
.tit{
	font-size:60px;
}
.tit2{
	font-size:25px;
}

header img {
	float: right;
	width:100px;
	height:auto;
}

header h1 {
	padding-top: .5em;
	border-bottom: 2px solid white;
	font-size: 1.5em;
	margin-bottom: 0.1em;
}

header h2 {
	font-size: 0.9em;
	margin: 0;
}

header nav {
	overflow: hidden;
	border-radius: 3px;

	background-color:rgba(0, 0, 0, 0.3);
	padding: 1em;
}

header nav div.izda {
	float: left;
}

header nav div.dcha {
	float: right;
}

header nav span + span:before {
    content: " | ";
    padding: 0 .3em;
}

.menuitem {    
	font-family: 'Source Sans Pro', sans-serif;
	
	border-radius: 3px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

.menuitem:link, .menuitem:visited {
}

.menuitem:hover {
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration:none;
	color:black;
}

div.pagina {
	position: relative;
	min-height: 100vh;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

  
}

section.principal {
  flex: 1 0 auto;
}


footer {
	flex-shrink: 0;
	background-color:rgba(255, 255, 255, 0.5);
	font-family: 'Source Sans Pro', sans-serif;
	
	font-weight: normal;
	color: black;
	padding: 1em;
}

div.sinpermiso {
	width: 50%;
	margin: auto;	
}

div.error {
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	margin: 2em auto .5em auto;
	padding: .5em 2em .5em 2em;
	color: black;
	font-weight:10px;
}
