form {
	overflow: hidden;
	background-color: white;
	border: 2px solid white;
	border-radius: 10px;
	margin: 2em 0;
	padding: 2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:25px;
	box-shadow: 5px 10px 18px black;
}
 .icon {
            padding: 10px;
          
            color: black;
            min-width: 50px;
            text-align: center;
        }

div.form {
	width: 50%;
	margin: auto;
}

form label {
	font-weight: bold;
	font-size: 0.7em;
}

form input[type="text"], form input[type="password"] {
	width: 100%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px; 
	border-bottom: 1px solid #de6161;
	outline: none;
}

form p.bottom {
	border-radius: 10px;
	background: #de6161; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #de6161, #2657eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #de6161, #2657eb); 
	padding: 1em 2em 1em 2em;
	margin: 0;
	text-align: center;
}
